@model CatalogItemViewModel

<form asp-page="/Basket/Index" method="post">
    <div class="box-img-hover">
        <div class="type-lb">
            <p class="new">New</p>
        </div>
        <img src="~/images/@Model.PictureUrl" class="img-fluid" alt="Image">
        <div class="mask-icon">
            <ul>
                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
            </ul>
            <input style="background: #b0b435;position: absolute;bottom: 0;left: 0px;padding: 10px 20px;font-weight: 700;color: #ffffff;" type="submit" value="Add to Cart" />
        </div>
    </div>
    <div class="why-text">
        <h4>Lorem ipsum dolor sit amet</h4>
        <h5> $@Model.Price.ToString()</h5>
    </div>
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.PictureUrl" name="pictureurl" />

</form>